.buttonholder {
    position: relative;
    width: 35%; 
    height: 25%; 
    margin: 10% 4%;
  }

  .layer1 > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotateLayer 5s linear infinite;
  }

  .layer2 {
    position: relative;
    animation: moveLayerHorizontal 2s ease-in-out infinite alternate, moveLayerVertical 3s ease-in-out infinite alternate;
  }

  .layer2 img {
    position: absolute;
    top: 0;
    left: 0;
  }

  #enterButton {
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }



  .layer1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .layer2 img {
    position: relative;
    z-index: 2;
  }

  #enterButton {
    /* border: 2px solid white; */
    border-radius: 10px;
    font-family: 'Cinzel Decorative', serif;
  font-family: 'Saira Semi Condensed', sans-serif;
    background-color: transparent;
    color: white;
    z-index: 3;
  }

  @keyframes rotateLayer {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes moveLayerHorizontal {
    from {
      left: 0;
    }
    to {
      left: calc(10% - 10px);
    }
  }

  @keyframes moveLayerVertical {
    from {
      top: 0;
    }
    to {
      top: calc(10% - 10px);
    }
  }