.body {
    display: flex;
    justify-content: center;
    color: #212529;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5); */
  }
  
  .cover-container {
    max-width: 42em;
  }
  
  .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 0;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #212529;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0, 0, 0, .25);
  }
  
  .nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
  }
  
  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
  
    .nav-masthead {
      float: right;
    }
  }
  
  .cover {
    padding: 0 1.5rem;
  }
  
  #background {
    position: fixed;
    z-index: -1;
  }
  #trigger{
    margin-top: 10px;
  }
  .form-row {
        position: absolute;
        top: 20px; /* Adjust top position as needed */
        width: 15%;
        right: 20px; /* Adjust right position as needed */
        z-index: 999; /* Ensure it's above other content */

   }
    .custom-range {
    -webkit-appearance: none;
    width: 80%;
    display: inline;
    height: 1px; /* Adjust thickness of the line */
    background-color: white; /* Set background color */
    outline: none;
    opacity: 0.7; /* Adjust opacity if needed */
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    }

    /* Style for the thumb */
    .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px; /* Adjust width of the thumb */
    height: 20px; /* Adjust height of the thumb */
    background-color: white; /* Set color of the thumb */
    cursor: pointer;
    }

    .custom-range::-moz-range-thumb {
        width: 8px; /* Adjust width of the thumb */
        height: 20px; /* Adjust height of the thumb */
        background-color: white; /* Set color of the thumb */
        cursor: pointer;
    }

    /* Hide the range input track */
    .custom-range::-moz-range-track {
        background: transparent;
        border: none;
    }

    .custom-range::-ms-track {
        background: transparent;
        border: none;
    }

    /* Style for the button */
    #trigger {
        color: white; /* Set text color */
        display: inline-block;
        background-color: transparent; /* Set background color */
        border: 2px solid white;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
    }

